@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}

* {
  font-family: 'Montserrat', sans-serif;
}
.my-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #333;
  border: 2px solid #6c8cff;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
}

.my-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #6c8cff;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.my-button:hover::before {
  left: 0;
}

.my-button:hover {
  background: #4e75ff;
  color: #fff;
}

.button-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 150px;
  padding: 0;
}
/* ---------- Завдання 1 - Таймер зворотного відліку ------ */

.timer {
  display: flex;
}

.timer > .field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
}

.field > .value {
  min-width: 40;
  text-align: center;
  font-size: 24px;
  padding: 5px;
}

.field > .label {
  font-size: 12px;
}

button[data-start] {
  height: 40px;
  width: 75px;
}
input#datetime-picker {
  all: unset;
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  padding-left: 16px;
  background: #fff;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input#datetime-picker:hover {
  border: 1px solid #000;
}
input#datetime-picker:active {
  border: 1px solid #4e75ff;
}
input#datetime-picker:disabled {
  border: 1px solid #808080;
  background-color: #fafafa;
  color: #808080;
}
button[data-start] {
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  margin-left: 8px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

button[data-start]:hover {
  background: #6c8cff;
}
button[data-start]:disabled {
  background: #cfcfcf;
  color: #989898;
}

.flatpickr-calendar {
  background: #f5f5f5 !important;
}
/* ------------- Завдання 2 - Генератор промісів ---------- */
.form {
  display: block;
  width: 360px;
  margin-left: 24px;
}

.form > label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  height: 72px;
  width: 100%;
  margin-bottom: 16px;
}

.form > fieldset {
  /* all: unset; */
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  width: 100%;
  height: 78px;
  border: 1px solid #808080;
  border-radius: 4px;
  stroke-width: 1px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

input[name='delay'] {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: 1px solid #808080;
  padding-left: 16px;
  background: #fff;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 400;
  color: #2e2f42;
}
input[name='delay']:hover {
  border: 1px solid #000;
}
input[name='delay']:active {
  border: 1px solid #4e75ff;
}
fieldset > legend {
  padding-left: 4px;
  padding-right: 4px;
  letter-spacing: 0.04em;
}

.form > button {
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.form > button:hover {
  background: #6c8cff;
}
